asgiref==3.7.2
async-timeout==4.0.3
attrs==23.2.0
autobahn==23.1.2
Automat==22.10.0
boto3==1.35.9
botocore==1.35.9
cffi==1.16.0
channels==3.0.5
channels-redis==4.2.0
constantly==23.10.4
coverage==7.4.3
cryptography==42.0.7
daphne==3.0.2
Django==4.2.6
django-cors-headers==4.3.1
django-storages==1.14.4
djangorestframework==3.14.0
drf-spectacular==0.26.5
flake8==6.1.0
google-auth==2.35.0
gunicorn==20.1.0
hyperlink==21.0.0
idna==3.7
incremental==22.10.0
inflection==0.5.1
jmespath==1.0.1
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
mccabe==0.7.0
msgpack==1.0.8
psycopg2-binary==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.11.1
pycparser==2.22
pyflakes==3.1.0
pyOpenSSL==24.1.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
redis==5.0.4
referencing==0.35.1
requests==2.32.3
rpds-py==0.18.1
s3transfer==0.10.2
service-identity==24.1.0
six==1.16.0
sqlparse==0.4.4
supervisor==4.2.2
Twisted==24.3.0
txaio==23.1.1
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==1.26.20
zope.interface==6.4.post2
