# Documentation: https://gist.github.com/the-vampiire/489299336200659a8f96cb6f2d593b64?permalink_comment_id=3242847
# AWS resources to be provisioned for the EB environment
Resources:
  # Define a security group rule that allows HTTPS traffic to the EC2 instance
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      # Add the rule to the Elastic Beanstalk environment's security group
      GroupId: { "Fn::GetAtt": ["AWSEBSecurityGroup", "GroupId"] }
      IpProtocol: tcp
      # Allow inbound traffic on port 443 (HTTPS)
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

  # Ensure the EC2 instance has permissions to access the S3 bucket
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["edukona-ssl-certs"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role-custom"

# Install necessary packages (e.g., mod_ssl for Apache, if needed)
packages:
  yum:
    mod_ssl: []

# Copy SSL certificate files from S3 to the EC2 instance
files:
  /var/log/ebextensions-debug.log:
    mode: "000644"
    owner: root
    group: root
    content: |
      Starting .ebextensions script execution...

  /etc/letsencrypt/live/edukona.com/fullchain.pem:
    mode: "000400"
    owner: root
    group: root
    source: 'https://edukona-ssl-certs.s3.us-west-2.amazonaws.com/edukona.com-0002/fullchain.pem'
    authentication: S3Auth

  /etc/letsencrypt/live/edukona.com/privkey.pem:
    mode: "000400"
    owner: root
    group: root
    source: 'https://edukona-ssl-certs.s3.us-west-2.amazonaws.com/edukona.com-0002/privkey.pem'
    authentication: S3Auth

container_commands:
  00_debug_log:
    command: "echo '.ebextensions script running' >> /var/log/ebextensions-debug.log"
  01_reload_nginx:
    command: "service nginx reload >> /var/log/ebextensions-debug.log 2>&1"
